 .row{
   margin-right:15;
   width: 101%;
} 
.container{
  
  max-width: 300%;
  padding-right: 0; 
   padding-left: 0;
}
.bg-azul{
  background-color: #aee7f7;
}

.navbar{
  padding: 0;
  
}

#menu a:hover{
  color: black!important;
  background-color: #007bff;
}
#navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 100px;
    right: 0;
    left: auto;
    padding-left: 1px;
    padding-right: 1px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #fff;
  background-color: cornflowerblue;
}
 .p-0{
  padding: 0!important;
} 
.col{
  position: relative;
  flex-wrap: wrap;
  /* flex-basis: 0; */
  padding-right: 0; 
   padding-left: 12px;
 
} 

button{
justify-content: center;
bottom: 0;
left: 0;
right: 0;
 height: 50px;
 width: 200px;
  position: absolute; 
 margin: 15px auto;
 padding-bottom: 15px;
}
.modal-header .close {
    padding: 9.5cm 1rem;
    margin: -1rem -1rem -1rem auto;
}
.modal-header .close2 {
    padding: 7.5cm 1rem;
    margin: -1rem -1rem -1rem auto;
}
button.close2 {
    padding: 0;
    background-color: transparent;
    border: 0;
}
.close2 {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: .75cm;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}

.contenedor{
  max-width: 100%;
}
/* body{
  padding: 0rem 0rem 0rem 0rem;
} */
img.salud{
    width: 70%;
    justify-content: center;
    margin-top: 25mm;
    margin-left: 1cm;
}
}
.text-center {
   text-align: center!important; 
}

li{
  margin-top: 2mm;
  margin-left: 13mm;
}
a.correo:hover{
  color: blue;
  background-color: transparent;
}

a{
  color: black;
}
a.instagram:hover{
  color: white!important;
}
a.facebook:hover{
  color: blue;
}


ul.iconos{
  justify-content: center;
  text-align: center;
  height: 40%;
  padding-top: 45px;
}

.footer{
  text-align: center;
  justify-content: center;
}
@font-face {
   font-family: titulo;
  src: url("futura_md_bt_bold.ttf");
}
.text-titulo{
  font-family: titulo, sans-serif;
}
@font-face{
  font-family: texto;
  src: url("FuturaBookBT.ttf");
}
.text-texto{
  font-family: texto, sans-serif;
}

.bg-fondo{
  background-image: url(Testimonios2.jpg);
   background-color: #2E8A53; 
  background-repeat: no-repeat;
  background-position: center center;
  
  height: 550px;
  
 
 
}
.imagen{
 width: 1362px;
}
.video{
  padding-left: 68px;
}

.text-tamaño{
  font-size: 1.5rem;
}
.caja{
  width: 100%;
  height: 100%;
}


p.success,
p.error {
    color: white;
    font-family: lato;
    background: yellowgreen;
    /* display: inline-block; */
    padding: 2px 10px;
}

.bg-azul{
  background-color: #b0d0d8;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  img.salud {
    width: 80%;
    justify-content: center;
    margin-top: 29mm;
    margin-left: 1cm;
}
  .bg-fondo{
  background-image: url(Testimonios2.jpg);
   background-color: #2E8A53; 
  background-repeat: no-repeat;
  background-position: center center;
  
  height: 550px;
  
 
 
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  img.salud {
    width: 80%;
    justify-content: center;
    margin-top: 29mm;
    margin-left: 1cm;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 100px;
    bottom: 15px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}



 